.progressDot {
  /* position: relative; */
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--color-light);
  color: var(--color-text-contrast);
  font-size: 1.5rem;
  transition:
    background-color 1s ease,
    color 1s ease;

  z-index: 1;

  &:is(:disabled, .disabled) {
    background-color: color-mix(in srgb, var(--color-dark) 50%, black);
    color: var(--color-text-base);
  }
}

.dotLine {
  background-color: color-mix(in srgb, var(--color-dark) 50%, black);
  width: 100%;
  height: 0.25rem;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &[line-type="thin"] {
    height: 0.125rem;
  }
  &[line-type="thick"] {
    height: 0.5rem;
  }
}

.progressLine {
  height: 100%;
  width: 100%;
  background-color: var(--color-dark);
  transform: translateX(calc((var(--progress) * 100%) - 100%));
  transition: transform 1s ease;
}

.progressDots {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
