.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;

  min-width: min-content;

  > :first-child {
    min-width: 15rem;
    max-width: 25rem;
  }

  .filterSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    align-items: end;

    > button {
      margin-bottom: 0.575rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .createButton {
    position: fixed;
    /* left: 50%; */
    width: clamp(19rem, calc(100% - 4rem), 100%) !important;
    bottom: 1rem;
  }
}

.eventsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.loadingContainer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMoreSentinel {
  grid-column: 1 / -1;
  width: 100%;
  height: 1px;
}
