.maxImageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  > span {
    width: 200%;
  }
}

.infoContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.scroll {
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .infoContainer {
    flex-direction: column-reverse;
  }
}

.QRCodeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  > button {
    width: 100%;
  }
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.timeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;

  white-space: nowrap;
}

@media screen and (max-width: 480px) {
  .timeContainer {
    grid-template-columns: repeat(1, 1fr);
    > * {
      margin-right: none;
      width: 100%;
    }
  }
}
