.goToEventButton {
  position: unset;
  bottom: 2rem;
  right: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.headerItem {
    display: flex;
    gap: 1rem;
    min-width: 0;
    overflow: hidden;
    width: 100%;
  }

.back {
  margin-top: 0.4rem;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  border-radius: var(--radius-8);
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: var(--color-neutral-100);
  }

  &:active {
    background-color: var(--color-neutral-200);
  }
}

.dialogCloseButton {
  margin-left: auto;
}

.card {
  background-color: red;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  right: 2rem;
  width: calc(100% - 4rem);

  & > button {
    width: 100%;
  }
  .goToEventButton {
    position: static;
  }
}

@media screen and (min-width: 768px) {
  .card {
    position: static;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;

    & > button {
      width: fit-content;
    }
    .goToEventButton {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
    }
  }
}
