.goToEventButton {
  position: unset;
  bottom: 2rem;
  right: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .headerItem {
    display: flex;
    gap: 1rem;
  }
}

.back {
  margin-top: 0.4rem;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  border-radius: var(--radius-8);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: var(--color-neutral-100);
  }

  &:active {
    background-color: var(--color-neutral-200);
  }
}

.dialogCloseButton {
  margin-left: auto;
}

@layer base, overrides;

@layer base {
  .card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    bottom: calc(100dvh - 100% - 2rem);
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;

    > button {
      width: 100%;
    }
  }
}

@layer overrides {
  @media screen and (min-width: 768px) {
    .card {
      flex-direction: row;
      position: unset;
      background-color: transparent;
      border: none;
      box-shadow: none;
      width: auto;
      margin: 0;
      padding: 0;

      > button {
        width: auto;
      }
    }

    .goToEventButton {
      position: absolute;
    }
  }
}
