.goToEventButton {
  position: unset;
  bottom: 2rem;
  right: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .headerItem {
    display: flex;
    gap: 1rem;
  }
}

.back {
  margin-top: 0.4rem;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  border-radius: var(--radius-8);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-light);
  }

  &:active {
    background-color: var(--color-primary-dark);
  }
}

.dialogCloseButton {
  margin-left: auto;
}

.card {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: calc(100% - 100vh + 2rem);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;

  > button {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    position: unset;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: auto;
    margin: 0;
    padding: 0;

    > button {
      width: auto;
    }
  }

  .goToEventButton {
    position: absolute;
  }
}
