.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50dvh;
  color: var(--color-neutral-600);
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 3px;
  padding: 0.3em 0.3em calc(15rem + env(safe-area-inset-bottom));
}

@media (width >= 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}

.loadMoreSentinel {
  width: 100%;
  height: 1px;
}
