.header {
  height: 4.15rem;
  border-bottom: 0.1rem solid var(--color-border-base);
  background-color: var(--color-primary-base);
  padding: 1rem;

  display: none;
  justify-content: start;
  align-items: center;

  position: fixed;
  z-index: 1;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
  }
}
