.content {
  flex: 1;
  margin: 0 1rem;
  margin-top: 1.5rem;

  > .sectionHeading {
    margin: 1.5rem 0 1rem;
  }

  > .tabDisabled {
    opacity: var(--opacity-disabled);
  }
}

@media (max-width: 767px) {
  .sectionHeading {
    font-size: var(--font-size-heading-small) !important;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 3px;
  padding: 0.3em 0.3em calc(10rem + env(safe-area-inset-bottom));
}

.actionCardContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  background: transparent;
  z-index: 9999;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    padding: 0.3em 1em 0.3em;
  }

  .actionCardContainer {
    position: sticky;
    padding: 1rem;
    background: transparent;
    z-index: 9999;
    min-width: 40rem;
    margin: auto;
  }
}
