.card {
  border-radius: var(--radius-16);
  padding: 1.5rem;
  background-color: var(--bg-raised);
  border: 1px solid var(--border-focus);
  box-shadow: var(--shadow-dialog);
  color: var(--text-neutral);

  &[data-color] {
    background-color: var(--bg-soft);
    border-color: var(--border-default);
    color: var(--text-default);
  }
}
