.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--shadow-dialog);

  /* to override default background color */
  --input-bg: var(--color-background-base);
}

/* to override default dark mode mapping */
:global([data-theme="dark"]) .card {
  --input-bg: var(--color-secondary-base);
}
