.cameraWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.5rem;
  height: 3.5rem;
  padding: 0.25rem;
  aspect-ratio: 1/1;

  &[data-redirect="true"] {
    cursor: pointer;
  }
}
