.cameraWrapper {
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  aspect-ratio: 1/1;
  align-items: center;
  border-radius: var(--radius-8);
  background: var(--color-text-tertiary);
  box-shadow: var(--shadow-dialog);
}

.camera {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  color: var(--color-primary-base);
}
