.button {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.625rem;
  width: max-content;
  min-width: 8rem;
  height: 3rem;
  padding: 1rem 1.25rem;
  border-radius: var(--radius-full);
  border: none;
  font-size: var(--font-size-large);

  &:hover:not(:active, .loading, .disabled) {
    transform: translateY(-0.25rem);
  }

  &:where(:disabled, .disabled) {
    cursor: not-allowed;

    &:not(.loading) {
      opacity: var(--opacity-disabled);
    }
  }

  &[data-variant="primary"] {
    background-color: var(--bg-strong);
    color: white;

    &:hover {
      background-color: var(--bg-strong-hover);
    }

    &:active {
      background-color: var(--bg-strong-pressed);
    }

    &:is(:disabled, .disabled) {
      background-color: var(--bg-strong);
    }
  }

  &[data-variant="secondary"] {
    background-color: transparent;
    color: var(--text-default);
    border: 0.125rem solid var(--border-strong);

    &:hover {
      background-color: var(--bg-moderate-hoverT);
    }

    &:active {
      background-color: var(--bg-moderate-pressedT);
    }

    &:is(:disabled, .disabled) {
      background-color: transparent;
    }
  }

  &[data-variant="tertiary"] {
    background-color: transparent;
    color: var(--text-default);

    &:hover {
      background-color: var(--bg-moderate-hoverT);
    }

    &:active {
      background-color: var(--bg-moderate-pressedT);
    }

    &:is(:disabled, .disabled) {
      background-color: transparent;
    }
  }

  &[data-size="small"] {
    height: 2.5rem;
    font-size: var(--font-size-medium);
  }
  &[data-size="xsmall"] {
    height: 2rem;
    font-size: var(--font-size-small);
  }
}
