.card {
  cursor: pointer;

  &:hover {
    background-color: var(--bg-sunken);
  }

  &:active {
    background-color: var(--bg-default);
  }
}

.title {
  margin: 0;
}

.uploadLimit {
  border-top: 1px solid var(--border-focus);
  padding-top: 1rem;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.soft {
  color: var(--text-default);

  > span {
    color: var(--text-decoration);
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
