.card {
  cursor: pointer;

  &:hover {
    background-color: var(--bg-sunken);
  }

  &:active {
    background-color: var(--bg-default);
  }
}

.title {
  margin: 0;
}

.footer {
  padding-top: 1rem;
  border-top: 1px solid var(--border-focus);
  justify-content: space-between;
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: var(--radius-8);
  border: 0.1rem solid var(--border-focus);
  cursor: pointer;

  &[data-color] {
    border: 0.1rem solid var(--border-default);
    color: var(--text-decoration);

    &:hover {
      background-color: var(--bg-soft);
    }

    &:active {
      background-color: var(--bg-moderate);
    }
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.soft {
  color: var(--text-default);

  > span {
    color: var(--text-decoration);
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
