.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 0.5rem;
}

.headerText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .title {
    margin: 0;
  }
}

@container (max-width: 4rem) {
  .header {
    padding: 0.5rem 0;
  }

  .logo {
    height: 2.5rem;
    width: 2.5rem;
  }

  .headerText {
    display: none;
  }
}
