.container {
  --color-bg: var(--color-neutral-000);
  --color-boder: var(--color-neutral-500);
  --color-bg-active: var(--data-color-500);
  --color-bg-hover: var(--data-color-200);

  --color-text: var(--color-neutral-1000);
  --color-text-active: var(--color-neutral-000);
  --color-text-hover: var(--color-neutral-700);

  display: grid;
  gap: 0.5rem;
  justify-items: start;

  width: max-content;

  &[data-fill="true"] {
    min-width: 100%;
  }

  .label {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5rem;
    margin: 0;
  }
}

.toggleGroup {
  color: var(--color-text);
  width: max(100%, 7.5rem);

  border-radius: 3rem;
  background-color: var(--color-bg);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 1px;
  display: flex;
  position: relative;

  box-shadow: inset 0 0 0 1px var(--color-boder);
}

.controlButton {
  margin: 0.125rem 0.125rem;
  padding: 0 0.5rem;
  cursor: pointer;
  min-height: 2.5rem;
  font-weight: bold;
  color: var(--color-text);
  border-radius: 3rem;
  background-color: transparent;
  border: none;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: fit-content;
  position: relative;

  flex: 1;
  isolation: isolate;

  &:hover {
    background-color: var(--color-bg-hover);
    color: var(--color-text-hover);
  }
}

.inner {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  z-index: 1;

  svg {
    width: 1rem;
    height: 1rem;
    aspect-ratio: 1/1;
  }
}

.backdrop {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: var(--color-bg-active);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

  view-transition-name: segmented-control-backdrop;
}

::view-transition-old(segmented-control-backdrop),
::view-transition-new(segmented-control-backdrop) {
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}
