.container {
  width: fit-content;
  padding: 0.3rem 1rem;
  background-color: transparent;
  color: var(--docs-color-text);
  border-radius: 1rem;
  border: 1px solid var(--neutral-900);

  &:hover {
    /* background-color: color-mix(in srgb, #222325 80%, white); */
    cursor: pointer;
    border-color: color-mix(in srgb, var(--docs-color-outline) 80%, white);
  }
}

.active {
  background-color: color-mix(in srgb, var(--docs-color-background) 80%, white);
}
