@import "@flash/tokens/css/reset.css";
@import "@flash/tokens";

:root {
  --docs-color-background: #222325;
  --docs-color-outline: #39393b;
  --docs-color-text: #c9cccf;

  --canvas-bg-inverted: #222325;
  --canvas-bg: #ffffff;

  --gray: #6b7280;
  --blue: #3b82f6;
  --green: #10b981;
  --yellow: #f59e0b;
  --red: #ef4444;
}

[data-theme="dark"] {
  --canvas-bg-inverted: #ffffff;
  --canvas-bg: #222325;
}

p {
  font-family: "Nunito Sans", sans-serif;
  color: var(--color-neutral-1000);
}

.innerZoomElementWrapper > * {
  width: 100% !important;
  font-family: "Nunito Sans", sans-serif;
}

.css-pdsmhf {
  max-width: none !important;
}

.sbdocs-content {
  padding-right: 25%;
}

@media (max-width: 768px) {
  .sbdocs-content {
    padding-right: 0;
  }
}

.docs-story {
  background-color: var(--canvas-bg-inverted);

  > div {
    resize: horizontal;
    background-color: var(--canvas-bg);
    max-width: 100%;
  }
}
