.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-loading="true"] {
    .primaryGroup,
    .secondaryGroup {
      transform-origin: calc(100% / 2) calc(100% / 2);
      animation: spin-ccw 5s infinite linear;
    }
    .star {
      transform-origin: calc(100% / 2) calc(100% / 2);
      animation: spin-cw 3s linear infinite;
    }
  }
  &[data-hover="true"]:hover {
    animation: spin-cw 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) backwards;
  }
}

.hidden {
  display: none;
}

.star {
  width: 256px;
  height: 256px;
}

.primary {
  fill: var(--color-logo-primary);
}

.secondary {
  fill: var(--color-logo-secondary);
}

@keyframes spin-cw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-ccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
