.pageWrapper {
  margin: 0;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.cameraWrapper {
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  align-items: center;
  border-radius: 0.5rem;
  background: #474747;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.camera {
  margin: auto;
  color: white;
}
