.label {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0;
  margin: 0;
  line-height: var(--font-line-height-large);
  color: var(--text-neutral);

  [data-size="small"] & {
    font-size: var(--font-size-medium);
  }
}

.description {
  color: var(--text-neutral-subtle);
  font-size: var(--font-size-medium);
  margin-top: -0.375rem;

  [data-size="small"] & {
    font-size: var(--font-size-small);
  }
}

.error > * {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  color: var(--text-danger-subtle);
  font-size: var(--font-size-medium);

  [data-size="small"] & {
    font-size: var(--font-size-small);
  }
}

.disabled,
.disabled * {
  opacity: calc(1 - var(--opacity-disabled));
  cursor: not-allowed;
}
