.dropdownControls {
  --color-base: var(--data-color-500);
  --color-surface: var(--data-color-100);
  --color-border: var(--color-text);
  --color-text: var(--data-color-1000);
  --color-text-inactive: var(--data-color-800);

  width: 100%;

  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 1.5rem;
  overflow: hidden;
}

.panel {
  color: var(--color-text);
  padding: 0.5rem 1rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 250ms ease-in-out;

  &[data-open="true"] {
    grid-template-rows: 1fr;
  }
}

.panelInner {
  overflow: hidden;
}
