.dropdownControls {
  width: 100%;
  background: transparent;
  border: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.qrContainer {
  display: flex;
  justify-content: center;
}

.fullWidthButton {
  width: 100%;
}
