.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  border-radius: var(--radius-16);
  border: 0.1rem solid var(--color-border-base);
  background-color: var(--color-primary-base);
  color: var(--color-text-secondary);

  [data-color] > & {
    border-color: var(--color-base);
  }
  &:focus-within {
    border-color: var(--color-border-light);
  }

  [data-error="true"] & {
    border: 0.1rem solid var(--color-danger-base);
  }

  > svg {
    margin-inline: 0.5rem;
    color: var(--color-text-secondary);
  }

  [data-size="small"] & {
    height: 2rem;
  }
}

.input {
  border-radius: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
  color: var(--color-text-base);
}
