.header {
  border-bottom: 0.1rem solid var(--color-border-base);
  background-color: var(--color-primary-base);
  padding: 1rem;

  justify-content: start;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
