.dropdownControls {
  width: 100%;
  border-radius: var(--radius-16);
  overflow: hidden;
}

.dropdownBorder {
  border: 0.1rem solid var(--border-focus);
  border-top: none;
}

.panel {
  overflow: hidden;

  max-height: 0;
  padding: 0 0.75rem 0;
  transition:
    max-height 200ms ease,
    padding 200ms ease;

  &[data-open="true"] {
    max-height: 100vh;
    padding: 1rem 0;

    .panelInner {
      opacity: 1;
      pointer-events: auto;
      transition-delay: 150ms;
    }
  }
}

.dropdownBorder {
  border: 0.1rem solid var(--border-focus);
  border-top: none;

  & .panel[data-open="true"] {
    padding-inline: 0.75rem;
  }
}

.panelInner {
  color: var(--text-default);

  opacity: 0;
  pointer-events: none;
  transition: opacity 140ms ease;
  transition-delay: 0ms;
}
