.inputWrapper {
  --color-warning: var(--text-danger-decoration);
  --color-success: var(--text-success-decoration);
  --color-text-primary: var(--text-neutral);
}
.inputContainer {
  --color-base: var(--border-default);
  --color-active: var(--border-subtle);
  --color-disabled: var(--border-strong);

  display: flex;
  align-items: center;
  gap: 0.75rem;
  height: 3rem;
  padding: 0.875rem 1.25rem;
  margin: 0.125rem;
  border-radius: var(--radius-16);
  border: none;
  font-size: 1rem;
  position: relative;

  &[data-variant="primary"] {
    background-color: var(--bg-input);
    border: 0.1rem solid var(--color-base);

    &:focus-within:not(:has(input:disabled), .disabled).error {
      border-color: var(--color-warning);
      border-width: 0.1rem;
      opacity: var(--opacity-disabled);
    }

    &:focus-within:not(:has(input:disabled), .disabled).success {
      border-color: var(--color-success);
      border-width: 0.1rem;
      opacity: var(--opacity-disabled);
    }

    &:focus-within:not(:has(input:disabled), .disabled) {
      border-color: var(--color-active);
      border-width: 0.1rem;
    }

    &:is(.disabled, :has(input:disabled)) {
      background-color: var(--color-neutral-50);
      border-color: var(--color-disabled);
      cursor: not-allowed;
      opacity: var(--opacity-disabled);
    }

    &.error {
      border-color: var(--color-warning);
    }

    &.success {
      border-color: var(--color-success);
    }
  }
}

.input {
  flex: 1;
  background: transparent;
  outline: none;
  border: none;
  font-size: inherit;
  color: var(--color-neutral-1000);
  width: 100%;

  &::placeholder {
    color: var(--color-neutral-600);
  }

  &:disabled {
    color: var(--color-neutral-800);
    cursor: not-allowed;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-base);
  flex-shrink: 0;

  .disabled &,
  .inputContainer:has(input:disabled) & {
    color: var(--color-neutral-500);
  }
  .error & {
    color: var(--color-warning);
  }
  .success & {
    color: var(--color-success);
  }
}

.loaderContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  right: 1rem;
}

.message {
  display: block;
  font-size: 0.875rem;
  color: var(--color-neutral-700);
  margin-top: 0.25rem;
  padding: 0 0.25rem;

  &.errorMessage {
    color: var(--color-warning);
    font-size: 1rem;
  }
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: "Kantumruy Pro";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-text-primary);

  &[data-size="xlarge"] {
    font-size: 1.75rem;
  }
  &[data-size="large"] {
    font-size: 1.5rem;
  }
  &[data-size="medium"] {
    font-size: 1.25rem;
  }
  &[data-size="small"] {
    font-size: 1rem;
  }
}

.required {
  color: var(--color-warning);
}

.disabled .label {
  opacity: 0.5;
  cursor: not-allowed;
}
