.input {
  height: auto;
  min-height: 0;
  max-height: 100%;
  overflow-y: hidden;
  resize: none;
  padding: 0.5rem;
  outline: none;

  border-radius: var(--radius-16);
  border: 0.1rem solid var(--color-border-base);
  background-color: var(--color-primary-base);
  color: var(--color-text-base);

  [data-color] > & {
    border-color: var(--color-base);
  }
  &:focus-within {
    border-color: var(--color-border-light);
  }

  [data-size="small"] & {
    height: 2rem;
  }

  [data-error="true"] & {
    border: 0.1rem solid var(--color-danger-base);
  }

  &[data-resize] {
    border-bottom-right-radius: 0;
  }
  &[data-resize="true"] {
    resize: both;
  }
  &[data-resize="vertical"] {
    resize: vertical;
  }
  &[data-resize="horizontal"] {
    resize: horizontal;
  }

  &[data-scroll="true"] {
    height: max-content;
    max-height: 100%;
    overflow-y: scroll;
  }
}
