.input {
  height: auto;
  min-height: 0;
  max-height: 100%;
  overflow-y: hidden;
  resize: none;
  padding: 0.5rem;
  outline: none;

  border-radius: var(--radius-16);
  border: 1px solid var(--border-focus);
  background-color: var(--bg-input);
  color: var(--text-neutral);

  [data-color] & {
    border-color: var(--border-default);
  }

  &:focus-within {
    border-color: var(--border-subtle);
  }

  [data-size="small"] & {
    height: 2rem;
  }

  [data-error="true"] & {
    border: 2px solid var(--border-danger);
  }

  &[data-resize] {
    border-bottom-right-radius: 0;
  }
  &[data-resize="true"] {
    resize: both;
  }
  &[data-resize="vertical"] {
    resize: vertical;
  }
  &[data-resize="horizontal"] {
    resize: horizontal;
  }

  &[data-scroll="true"] {
    height: max-content;
    max-height: 100%;
    overflow-y: scroll;
  }
}
