.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--text-neutral);
  background-color: var(--bg-input);
  border-radius: var(--radius-16);
  border: 0.1rem solid var(--border-subtle);

  cursor: pointer;

  &:focus {
    outline: 0.2rem solid var(--border-focus);
    outline-offset: 0.2rem;
  }

  [data-error="true"] & {
    border-color: var(--border-danger);
  }
}

.select {
  appearance: none;
  border-radius: inherit;
  border: none;
  outline: none;
  height: 3rem;
  padding: 0.5rem 0.5rem;
  padding-right: 2.5rem;
  color: var(--text-neutral);

  width: 100%;
  background-color: transparent;
  font-size: var(--font-size-large);

  display: inline-block;
  position: relative;

  > option {
    color: var(--text-neutral-decoration);
  }
}

.icon {
  position: absolute;
  pointer-events: none;
  right: 0.5rem;
  aspect-ratio: 1/1;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--text-neutral-decoration);
}
