.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--text-neutral);
  background-color: var(--bg-input);
  border-radius: var(--radius-16);
  border: 0.1rem solid var(--border-subtle);

  cursor: pointer;
  font-size: var(--font-size-large);

  &:focus {
    outline: 0.2rem solid var(--border-focus);
    outline-offset: 0.2rem;
  }

  [data-error="true"] & {
    border-color: var(--border-danger);
  }
}

.trigger {
  /* Match your old select styles */
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  /* Add padding, border, background etc. here */

  appearance: none;
  border-radius: inherit;
  border: none;
  outline: none;
  height: 3rem;
  padding: 0.5rem;
  color: var(--text-neutral);

  width: 100%;
  background-color: transparent;

  position: relative;

  [data-size="small"] & {
    height: 2rem;
    font-size: var(--font-size-medium);
  }

  .open {
    /* Style for open state, e.g. different border */
  }
}

.listbox {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  z-index: 100;
  list-style: none;
  margin: 0;
  padding: 0.25rem 1rem;

  display: flex;
  flex-direction: column;

  background-color: inherit;
  border-radius: var(--radius-16);
  border: inherit;
}

.option {
  cursor: pointer;
  font-size: inherit;
  padding: 0.5rem 0.25rem;
  color: var(--text-decoration);
  background-color: inherit;
  border: 0;
  outline: 0;
  text-align: start;

  &:not(:last-child) {
    border-bottom: 0.1rem solid var(--border-subtle);
  }

  &:hover {
    color: inherit;
  }
}

.mobileLabel {
  display: none;
  text-align: center;
  font-size: var(--font-size-xlarge);
}

@media screen and (max-width: 768px) {
  .container {
    position: initial;
  }

  .mobileLabel {
    display: inline-block;
  }

  .listbox {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1rem 12.5%;
    height: 50%;
    width: 100dvw;
    top: 50%;
    left: 0;
    right: 0;
  }
}
